body{
    text-align: left;
    margin: 10;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li, p {
    list-style-type: none;
    color: midnightblue;
    padding-top: 3px;
    font-size: 15px;
}

h1 {
    text-align: center;
    color: green;
    font-style: italic;
}

h2 {
    color: navy;
}

button {
    padding: 2px 3px;
    color: purple;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
}

.button {
    background-color: #04AA6D;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    margin: 1px;
}

.button-cancel {
    background-color: #E7E7E7;
    color: black;
    font-size: 14px;
    border-radius: 8px;
    margin: 1px;
}

.toggle {
    margin-left: 0.5rem;
    background-color: ghostwhite;
}

.logout {
    margin-left: 0.5rem;
}

input {
    padding: 0.25rem;
    margin: 0.2rem 0;
    border: 1px solid;
    border-radius: 4px;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: 1.25rem auto;
    padding: 1.25rem;
    border: 1px dashed;
    border-radius: 8px;
}

form div {
    margin-bottom: 1rem;
}

form label {
    font-size: 0.95rem;
    margin: 0 0.25rem 0.3rem 0.25rem;
}

.notification {
    background-color: lightgray;
    font-size: 20px;
    border-style: solid;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 4px;
    text-align: center;
}
